# Solving for pandas fundamentals exercises

---

## Cities in Sweden - create dataset **[00.1]**

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [ ]:
import pandas as pd

# creating the dataframe
df = pd.DataFrame({"Kommun":["Malmö","Stockholm ","Uppsala","Göteborg"],
                    "Population":[347949 , 975551 , 233839 , 583056 ]})

# select Göteborg
df.loc[df['Kommun'] == 'Göteborg'] 

# sort from biggest
population = df.sort_values('Population', ascending=False)

# filter 3 biggest
biggest_3 = df.nlargest(3, 'Population')

# add a column and compare to whole Swe population
df['Population (%)'] = (df['Population'] / 10379295) * 100 

print(df)

---

## Cities in Sweden - real dataset **[00.2]**

Download the file komtopp50_2020.xlsx from the course github repo. The data is taken from SCB. 

&nbsp; a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

```python
df.head()
df.info()
df.describe()
```

Feel free to do more explorations. (*)

&nbsp; b) Clean your data so that the head looks like this: (*)


|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
|  0 |          83 |          84 | Ale      |            31868 |            31402 |     1.48398  |
|  1 |          64 |          64 | Alingsås |            41602 |            41420 |     0.439401 |
|  2 |         123 |         123 | Alvesta  |            20224 |            20134 |     0.447005 |
|  3 |         255 |         255 | Aneby    |             6821 |             6848 |    -0.394276 |
|  4 |         169 |         167 | Arboga   |            14039 |            14087 |    -0.34074  |

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the five smallest cities. (*)

&nbsp; e) Use the DataFrame to calculate Sweden's population in 2019 and 2020. (*)

&nbsp; f) Plot a bar chart for the five largest cities and the five smallest cities. (*)

In [ ]:
import pandas as pd
from tabulate import tabulate
import seaborn as sns
import matplotlib.pyplot as plt

# cleaning the data
df = pd.read_excel('komtopp50_2020.xls', sheet_name='Totalt', skiprows=6)
df.columns = ['Rang 2020', 'Rang 2019', 'Kommun', 'Folkmängd 2020', 'Folkmängd 2019', 'Förändring']

# sorting them 
df_sorted = df.sort_values(by='Folkmängd 2020', ascending=False)
print(tabulate(df_sorted.head(), headers='keys', tablefmt='grid', showindex=True))
# show all cities
print(df_sorted.to_string())

# sort from largest
df_largest = df.sort_values('Folkmängd 2020', ascending=False)
print(tabulate(df_largest, headers='keys', tablefmt='grid', showindex=True))

# filter out smallest 5
df_filtered = df_sorted.iloc[:-5]
print(tabulate(df_filtered, headers='keys', tablefmt='grid', showindex=True))

# calculate Swe population 2019, 2020
Total_2019 = df['Folkmängd 2019'].sum()
Total_2020 = df['Folkmängd 2020'].sum()
print(Total_2019)
print(Total_2020)

# plot 5 largest cities
largest_5 = df.nlargest(5, 'Folkmängd 2020')
sns.barplot(data=largest_5, x="Kommun", y="Folkmängd 2020")
plt.title("5 Largest Cities")
plt.xticks(rotation=45)
plt.yticks([0, 200000, 400000, 600000, 800000, 1000000], 
           ['0', '200k', '400k', '600k', '800k', '1M'])
plt.show()

# plot 5 smallest cities  
smallest_5 = df.nsmallest(5, 'Folkmängd 2020')
sns.barplot(data=smallest_5, x="Kommun", y="Folkmängd 2020")
plt.title("5 Smallest Cities")
plt.xticks(rotation=45)
plt.show()

---

## Cities in Sweden - gender **[00.3]**

We continue with the same Excel-file as in task 2, but now you should also read in the sheets "Kvinnor" and "Män" into two additional DataFrames. In this task, many operations are similar to all three datasets, try creating custom made functions to reuse as much code as possible.

&nbsp; a) Clean your data so that the head looks like this: (*)

Male: 

|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön   |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|:------|
|  0 |          81 |          83 | Ale      |            16256 |            16054 |     1.25825  | Man   |
|  1 |          64 |          64 | Alingsås |            20702 |            20646 |     0.271239 | Man   |
|  2 |         122 |         123 | Alvesta  |            10367 |            10339 |     0.270819 | Man   |
|  3 |         255 |         255 | Aneby    |             3503 |             3498 |     0.142939 | Man   |
|  4 |         169 |         168 | Arboga   |             7094 |             7114 |    -0.281136 | Man   |

Female: 

|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön    |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|:-------|
|  0 |          84 |          85 | Ale      |            15612 |            15348 |     1.72009  | Kvinna |
|  1 |          64 |          64 | Alingsås |            20900 |            20774 |     0.606527 | Kvinna |
|  2 |         123 |         123 | Alvesta  |             9857 |             9795 |     0.632976 | Kvinna |
|  3 |         255 |         255 | Aneby    |             3318 |             3350 |    -0.955224 | Kvinna |
|  4 |         165 |         164 | Arboga   |             6945 |             6973 |    -0.401549 | Kvinna |


&nbsp; b) Merge the male and female DataFrames vertically and set index to "Kommun". Note that there now should be 580 rows now.  (*)

|    | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön   |
|---:|:---------|-----------------:|-----------------:|-------------:|:------|
|  0 | Ale      |            16256 |            16054 |     1.25825  | Man   |
|  1 | Alingsås |            20702 |            20646 |     0.271239 | Man   |
|   ...  | ...       | ...  | ...   | ...  | ...    |
| 288 | Överkalix    |             1559 |             1578 |    -1.20406  | Kvinna |
| 289 | Övertorneå   |             2027 |             2065 |    -1.84019  | Kvinna |

&nbsp; c) Extract and change column name from the total DataFrame so that the head look like this: (*) 

|    | Kommun   |   Total Pop 2020 |   Total Pop 2019 |   Total förändring |
|---:|:---------|-----------------:|-----------------:|-------------------:|
|  0 | Ale      |            31868 |            31402 |           1.48398  |
|  1 | Alingsås |            41602 |            41420 |           0.439401 |
|  2 | Alvesta  |            20224 |            20134 |           0.447005 |
|  3 | Aneby    |             6821 |             6848 |          -0.394276 |
|  4 | Arboga   |            14039 |            14087 |          -0.34074  |

&nbsp; d) Merge this data with the data in b) so that the head look like this: (*)

| Kommun    |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön    |   Total Pop 2020 |   Total Pop 2019 |   Total förändring |
|:----------|-----------------:|-----------------:|-------------:|:-------|-----------------:|-----------------:|-------------------:|
| Stockholm |           482982 |           482220 |     0.158019 | Man    |           975551 |           974073 |           0.151734 |
| Stockholm |           492569 |           491853 |     0.145572 | Kvinna |           975551 |           974073 |           0.151734 |
| Göteborg  |           292505 |           290308 |     0.756782 | Man    |           583056 |           579281 |           0.65167  |
| Göteborg  |           290551 |           288973 |     0.546072 | Kvinna |           583056 |           579281 |           0.65167  |
| Malmö     |           175411 |           173543 |     1.07639  | Kvinna |           347949 |           344166 |           1.09918  |

&nbsp; e) Create barplots showing the gender populations of Swedens 10 largest and 10 smallest cities. (*) 
 
&nbsp; f) Create a pie chart showing the total male and female population in Sweden 2020. (*)

&nbsp; g) Create a barplot showing the cities with the five largest percentual gender difference in 2020. (**)

&nbsp; h) Create a barplot showing the top 5 cities with largest populational growth from 2019 to 2020 (**)

&nbsp; i) Feel free to investigate other questions you are interested in using these datasets. (*), (**)

<br/>

In [53]:
import pandas as pd
from tabulate import tabulate
import seaborn as sns
import matplotlib.pyplot as plt


# clean up data
df_man = pd.read_excel('komtopp50_2020.xls', sheet_name='Män', skiprows=6)
df_man.columns = ['Rang 2020', 'Rang 2019', 'Kommun', 'Folkmängd 2020', 'Folkmängd 2019', 'Förändring']
df_man['Kön'] = 'Man'

df_kvinna = pd.read_excel('komtopp50_2020.xls', sheet_name='Kvinnor', skiprows=6)
df_kvinna.columns = ['Rang 2020', 'Rang 2019', 'Kommun', 'Folkmängd 2020', 'Folkmängd 2019', 'Förändring']
df_kvinna['Kön'] = 'Kvinna'

# Styling DF
# display(df_man.head().style.set_table_styles([
#     {'selector': 'td', 'props': 'border: 1px solid white;'},
#     {'selector': 'th', 'props': 'border: 1px solid white;'}
# ]))

# display(df_kvinna.head().style.set_table_styles([
#     {'selector': 'td', 'props': 'border: 1px solid white;'},
#     {'selector': 'th', 'props': 'border: 1px solid white;'}
# ]))



# merge and set index
df_merged = pd.concat([df_kvinna, df_man], axis=0)
df_index = df_merged.iloc[:, 2:]
# display(df_index.head().style.set_table_styles([
#     {'selector': 'td', 'props': 'border: 1px solid white;'},
#     {'selector': 'th', 'props': 'border: 1px solid white;'}
# ]))


# extract and change columns names
df_extract = df_index.iloc[:, :-1]
df_extract.columns = ['Kommun', 'Total Pop 2020', 'Total Pop 2019', 'Total förändring']
# display(df_extract.head().style.set_table_styles([
#     {'selector': 'td', 'props': 'border: 1px solid white;'},
#     {'selector': 'th', 'props': 'border: 1px solid white;'}
# ]))



# stacked horizontally
df_stacked = pd.concat([df_index, df_extract], axis=1)
df_stacked['Total förändring'] = pd.to_numeric(df_stacked['Total förändring'], errors='coerce')
df_stacked['Total förändring'] = pd.to_numeric(df_stacked['Total förändring'], errors='coerce')
display(df_stacked.head().style.set_table_styles([
    {'selector': 'td', 'props': 'border: 1px solid white;'},
    {'selector': 'th', 'props': 'border: 1px solid white;'}
]))